* { box-sizing: border-box; -moz-box-sizing: border-box; }

html:not(.admin), html:not(.admin) body {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #222;
	font-family: sans-serif;
}


html.admin body {
	color: #bada55;
	margin: 5px;
}

html.admin input[type=text], html.admin select {
	color: #bada55;
	background-color: #444;
}

html.admin table input[type=text], html.admin table select {
	width: 100%;
}

html.admin table {
	width: 80%;
	margin: 20px;
}

html.admin table td {
	padding: 2px;
}

button {
	color: initial;
}

header {
	background: #484848;
	box-shadow: 0px 1px 3px black;
	height: 26px;
	padding: 0px 3px;
	font-size: 0.9em;
	transition: all 0.8s ease-out;
}

/*
header:after {
	content: '^';
	color: #ccc;
	position: absolute;
	top: 26px;
	right: 0;
	background-color: #777;
	border-radius: 2px;
	z-index: -1;
}
*/

header.hidden {
	margin-top: -26px;
}

main {
	position: absolute;
	top: 26px;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.8s ease-out;
}

header.hidden ~ main {
	top: 0px;
}


header a.streamLink {
	color: #aaa;
	background-color: #222;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	margin: 3px 4px;
	border-radius: 3px;
	padding: 2px 10px;
}

header a.streamLink.active {
	color: #c6c6c6;
	box-shadow: 0px 0px 3px 1px rgba(230,230,150,0.7);
}

header a.streamLink:hover {
	color: white;
}


header a.buttonLink {
	margin-right: 15px;
	text-indent: -99999px;
	background-color: #999;
	background-image: url(images/ui-icons_222222_256x240.png);	
	color: transparent;
	height: 20px;
	overflow: visible;
	padding-left: 7px;
}

header a.customizeLink {
	background-position: -176px -111px;
}

header a.buttonLink:hover {
	background-color: #ddd;
}

header a.buttonLink.streamLink.active {
	box-shadow: 0px 0px 3px 1px rgba(255, 255, 173, 0.85);
}

header a.tileLink {
	background-position: -176px -128px;
}

.window {
	position: absolute;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: #777;
	box-sizing: content-box;
	overflow:hidden;
}

.window .player, .window .overlay {
	position: absolute;
	top: 15px;
	bottom:3px;
	left:3px;
	right:3px;
}

.window .player {	
	z-index: 10;
}

.window .overlay {
	z-index: 100;
}

.window .player > div[id^=player] {
	height: 100% !important;
}

.window .title {
	color: #222;
	height: 15px;
	padding: 0 5px;
	font-size: 9pt;
	white-space: nowrap;
}

.window .title .stream-name {
	float: left;
	cursor: default;
}

.window .ui-icon-gripsmall-diagonal-se {
	background: initial;
}




.closeBtn {
	position: absolute;
	top: -1px;
	right: 0;
}

.titleBtn {
	display: inline-block;
	margin-top: -1px;
}

.miscWindow {
	position: absolute;
	overflow: auto;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: #777;
	z-index: 1000;
	padding: 4px 7px;
}

.newsWindow {
	top: -150px;
	right: 5px;
	font-size: 0.85em;
	max-width: 340px;
	transition: top 2s ease;
}

.newsWindow.visible {
	top: 3px;
}

h4 { 
	margin: 0 0 3px;
	text-align: center;
}

.customizeWindow {
	max-height: 92%;
	top: 3px;
	left: 5px;
}

.customizeWindow .title {
	color: #222;
	height: 15px;
	font-size: 9pt;
}

.customizeWindow .content {
	position: relative;
	overflow: hidden;
	margin-top: 5px;
}

.customizeWindow .content .name {
	width: 130px;
	display: inline-block;
	margin-left: 3px;
}


.customizeWindow .content .button {
	display: inline-block;
	width: 12px;
}

input[type=text], textarea {
	color: black;
	font-size: 0.8em;
}

.shoutbox {
	position: relative;
	height: 100%;
	overflow: hidden;
	font-size: 0.8em;
}

.shoutbox-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	pointer-events: none;
}

.shoutbox-items-container {
	position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    right: 3px;
    top: 0px;
    bottom: 23px;
	padding: 3px 0px 0px;
	font-size: 0.87em;
}

.shoutbox-inputbox {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
	padding: 0px 7px;
}

.shoutbox-input-holder {
	position: absolute;
	left: 5px;
	right: 95px;
	top: 0px;
	bottom: 3px;
}

.shoutbox input {
	background-color: #eee;
	border-radius: 2px;
}

.shoutbox-input-holder input {
	width: 100%;
}

.shoutbox-name {
	position: absolute;
	top: 0px;
	right: 3px;
	bottom: 0;
	font-size: 0.9em;
}

.shoutbox-name input {
	width: 45px;
}

.shoutbox-item {	
	margin: 2px 8px;
	border-radius: 3px;
	border: 1px solid #5b5b5b;
	padding: 3px;
	background-color: #717171;
}

.shoutbox-item:nth-child(odd) {
    background-color: #6A6A6A;
}

.shouter-name {
	font-weight: bold;
}

.shout-time {
    color: #111;
}